.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background:linear-gradient(#0c0c0c, #392389) ;
}

.input{
  height: 40px;
  border-radius: 8px;
  max-width: 300px;
  width: 100%;
  margin: 24px 0;
  padding: 5px;
  outline: none;
  border: 1px solid #b6b6b6;
}
.input::placeholder{
  color: #000;
}

a{
  text-decoration: none;
  color: #FFFF;
  font-size: 16px;
  
}